@page
@model PedidosMVC.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Detalles de Pedido";
}

<h1>Detalles de Pedido</h1>
<h4>Items</h4>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Order.OrderItems)
    {
        <tr>
            <td>@item.Product.Nombre</td>
            <td>@item.Cantidad</td>
            <td>@(item.Product.Precio * item.Cantidad).ToString("C")</td>
        </tr>
    }
    </tbody>
</table>
<h4>Total: @Model.Total.ToString("C")</h4>
